*{
    padding: 0;
    margin:o;
    box-sizing: border-box;
}
.navbar {
    position: relative;
  }

  .product-category {
    display: none;
    text-align: center;
    position: absolute;
    text-decoration: none;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add smooth transitions */
    opacity: 0; /* Start with zero opacity */
  }

  .product-category img {
    width: 150px;
    height: 200px;
  }
  .product-category a{
    text-decoration: none;
    color: red;
  }
  .product-category img:hover {
    transform: scale(0.9); /* Adjust the scale value for the desired zoom out effect */
  }

  .nav-item:hover .product-category {
    display: block;
    opacity: 1; /* Set opacity to fully visible on hover */
  }

  /* Add a slight delay before hiding */
  .nav-item:not(:hover) .product-category {
    transition-delay: 0.9s; /* Adjust the delay time as needed */
    opacity: 0; /* Set opacity to zero when not hovering */
  }
.navbar{
    position: fixed;
    width: 100%;
    padding-left: 50px;
    padding-right: 50PX;
}
.navbar-brand{
    margin-left: 200px;
    margin-right: 50px;
}
.banner{
    background-image: url('https://biosteel.com/cdn/shop/files/MicrosoftTeams-image_36_affc12ab-0a4d-4359-a03c-d907e912c8dc_2048x.jpg?v=1691547711');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}
.banner-btn{
    text-align: center;
    padding-top: 400px;
}
.banner-btn a{
    text-decoration: none;
    background-color: red;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 40px;
}
.banner-btn a:hover{
    background-color: rgb(247, 88, 88);
}
.afterbanner .col-md-12 div{
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

.afterbanner-row2 ul {
    display: flex;
    justify-content:center;
}
.afterbanner-row2 ul li{
    list-style: none;
    padding: 0px 40px;
    width: 200px;
}
.afterbanner-row2 ul li p{
   text-align: center;
   font-weight: 600;
   margin-top: 10px;
}

.sportsdrink{
    margin-top: 50px;
}
.sportsdrink h1{
    color: red;
    margin: 10px;
}
.sportsdrink-row2 ul{
    display: flex;
    justify-content:center;
}
.sportsdrink-row2 ul li{
    list-style: none;
    padding: 0px 30px;
    width: 200px;
    text-align: center;
}
.sportsdrink-row2 h5{
    margin-top: 10px;
    margin-bottom: 20px;
}
.sportsdrink-btn{
    text-align: center;
    margin-bottom: 20px;
}
.sportsdrink-btn a{
    text-decoration: none;
    background-color: red;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
}
.click-to-signup{
    width: 100%; 
    height: 200px;
    background-color: rgb(191, 1, 1);    
}
.signup-btn{
  text-align: center;
  padding-top: 50px;
}
.signup-btn a{
  text-decoration: none;
  color: gold;
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  padding: 5px;
  border:1px solid gold;
  border-radius: 5px;
}
.signup-btn a:hover{
  color:#fff;
}
.footer{
  padding:40px 200px;
  background-color: black;
}
.footer ul li{
  list-style: none;
}
.footer h4{
  color:gold;
  font-family: serif;
}

.footer ul li a{
  text-decoration:none;
  font-family: serif;
  font-weight: 900;
  color: #fff;
  line-height: 2;
}
.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

.social-media li {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  padding-top: 40px;
  font-size: 30px; /* Adjust the font size as needed */
  color: #fff; /* Set the desired color */
  padding-bottom:10px ;
}
.social-media i:hover{
  color: gold;
}
.footer p{
  color: #fff;
  font-size: 18px;
  font-family: serif;
}

  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .navbar-brand img {
      width: 150px; /* Adjust the logo width for smaller screens */
    }
    .navbar-brand{
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer{
      padding:40px 50px;
      background-color: black;
    }
    .social-media {
      list-style: none;
      padding: 0;
      margin: 0;
      float: left;
    }
    
  }

  @media (max-width: 576px) {
    .navbar-nav {
      flex-direction: column; /* Stack navigation items in a column on small screens */
    }

    .product-category {
      width: 100%;
    }
    .footer{
      padding:40px 50px;
      background-color: black;
    }
  }